<div class="nav nav-bar menu-user">
    <div class="pull-left titulo">
        Barganhaki
    </div>
    <% if user_signed_in? %>
    <div class="pull-right">
        <b><%= current_user.email %></b>       
                <%= link_to "Sair", destroy_user_session_path, class: "btn btn-success", method: :delete %>
         </div>
         
    <% end %>
</div>