<% @categoria.id %>
<div class="container">
<h1>Ops!, Desculpe nos</h1>
<h2>No momento não temos produtos na categoria <b><%= @categoria.description %></b> porém, logo estaremos com excelentes ofertas pra você  !</h2>
</div>