<div class="footer-user-perfil">
    <div class="pull-center titulo">
        Barganhaki
        <p>&copy Copyright - <%=Time.now.year%> - Todos os direitos reservados - Barganhaki.com </p>
    </div> 
    
</div>
