
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <%= link_to "Barganhaki",  site_home_path%>
                </li>
                <li>
                    <%= link_to "Meus produtos",  site_prefil_products_path%>
                </li>
                <li>
                    <%= link_to "Cadastrar produtos", new_site_prefil_product_path %>
                </li>
                <li>
                    <a href="#">Meus Dados</a>
                </li>
                <li>
                    <a href="#">Minha empresa</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->