<div class="rodape">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>CONTATO</h3>
                <h2>(096) 99999 - 9999
            </div>
            <div class="col-md-4">
                <h3>CATEGORIAS</h3>
                <ul>
                    <% @categories.each do |categorias| %>                   
                    <li>
                        <%= link_to "#{categorias.description}", site_category_path(categorias), class: "link" %>
                    </li>
                    <% end %>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>BARGANHAKI</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
        <div class=" pull-center text-center copy">
            <p>&copy; <%= Time.now.year %> Barganhaki</p>
        </div>
        </div>
    </div>
</div>