/*
*= require bootstrap
*/
body{
    margin: 0;
    padding: 0;
}
/* Menus do sistema */
.menu-user{
    background-color: #320055;
    padding: 5px;
    width: 100%;
    height: 60px;
}
.menu-user a{
    background-color: transparent;
    border: 2px solid #FFF;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.menu-user b{
    color: #FFF;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}
.menu-user .carrinho{

    border: none;
    margin-right: 5px;
   
}
/*Carrinho -------*/
.carrinho-vazio img{
    width: 150px;
    height: 150px;
}
.carrinho-vazio .aviso{
    background-color: #DCDCDC;
    
}
.carrinho-vazio .aviso .continuar{
    height: 50px;
    font-weight: 900;
    background-color: #00AA45;
    font-size: 18pt;
   
}
.carrinho-vazio .aviso p{
    padding-top: 10px;
    font-weight: bold;
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif;
}
.carrinho-list-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
/*Cabeçalho do site com logo*/
.cabecalho{
    background-color: #320055;
    width: auto;
    height: 320px;
}
.cabecalho img{
    float: center;
    padding-top: 2%;
    padding-bottom: 1%;
    height: 210px;
    width: 300px;
}
/*Input search --- begin */
.cabecalho .campo{
    width: 100%;
    height: 60px;
}
.cabecalho .cmd_buscar{
    height: 60px;
    background-color: #00AA45;
    font-weight: bold;
    font-size: 17pt;
    color: #FFF;

}


/*Menu de opções CSS -- begin*/
#checkbox2{
    display: none;
}
#icone2{
    cursor: pointer;
    font-size: 20pt;
    font-family: Arial;
    font-weight: 700;
    padding: 15px;
    position: absolute;
    z-index: 1;
    color: #fff;

}

#icone2 b{
    visibility: hidden;
    
}
.menu-opcoes{
    width: 100%;
    height: 50px;
    background-color: #320055;
   

}
.menu-opcoes ul{
    list-style: none;
    display: flex;
    text-align: center;
   
}
.menu-opcoes ul li{
    width: 25%;
    transition: background-color 0.2 linar;   

}
.menu-opcoes li a{
    padding: 12px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 14pt;
    

}
.menu-opcoes li a:hover{
    
    background-color:#fff;
    color: #320055;
    transform: scale(26%)
    
}
@media only screen and (max-width: 720px) {
    
        #icone{
            width: 100%;
            background: #050542;
            text-align: center;
        }
        #icone b{
            visibility: visible;
            text-align: center;
        }
        .menu-opcoes ul li{
            width: 100%;
        }
        
        #checkbox2:checked ~ .menu-opcoes{
            background: #00AA45;
            
        }
        
        .menu-opcoes{
            width: 100%;
            background-color:#00AA45;
        }
        .cat2{
            background: #00AA45;
        }
        
}


/*...*/
/*Menu de opções CSS -- end*/

/* --------------------Inicio do meu de categorias---------------------- */
.categorias{
    width: auto;
    height: 100px;
    margin-top:10px;
    margin-bottom: 2%;
    
}
.cat{
    border-bottom: 1px, solid, black;

}
.icon{
    justify-content: flex-start;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5); 
    background-color: gray;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    margin: 0 auto;
    
}
.lista li{
    list-style: none;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    
}
.lista li {
    text-align: center;
}
.circle{
    background-color: #BABABA;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    margin: auto;
    
    
}
.icon-tt img{    
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 5%;
    width: 40px;
    height: 40px;    
}
.icon-desc{
    color: rgba(0,0,0,0.8);
    text-align: center;
    margin-top: 3px;
}
/*Adicionar responsividade*/
@media only screen and (max-width: 1200px){
    .categorias{
        position: fixed;
        bottom: -2%;
        width: 100%;
        height: 70px;
        background: #BABABA;
        border-radius: 0 0 7px 7px;
        
        
    }
    
    .categorias .link{
        display: none;
    }
    .icon{
        justify-content: flex-start;
        border: 1px solid rgba(0,0,0,0.3);
        box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5); 
        background-color: #BABABA;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        
        
    }
    .lista li{
        list-style: none;
        display: inline;
        align-items: center;
        margin-right: 1px;
        margin-left: 1px;
        flex-flow: 1;
        
        
    }
    .lista li {
        text-align: center;
        margin-top: 10px;
        height: 100%;
        width: 10%;
        flex-flow: 1;
    
    }
    .circle{
        background-color: #BABABA;
        border-radius: 0%;
        height: 40px;
        width: 40px;
        margin-top: 3px;
        flex-flow: 1;
        
        
    }
    .icon-tt img{    
        margin-top: 15%;
        margin-left: 5%;
        margin-right: 5%;
        width: 30px;
        height: 30px;    
    }
    .icon-desc{
        color: rgba(0,0,0,0.8);
        text-align: center;
        margin-top: 3px;
    }
    .lista li:hover .circle{
        background-color: lightgray;
        
    }
    .lista li:hover{
        background-color: lightgray;
        transform: scale(2,2);
    
    }
}
/*Adicionar responsividade*/




/* --------------------Inicio do da exibição dos produtos ---------------------- */
.item-sec{
    display: inline-block;
    flex-direction: row;
    justify-content: flex-start;
    width: 350px;
    height: 430px;
    margin-left: 1%;
    margin-top: 4%;
    font-family: "arial", sans-serif;
    box-shadow: 0px 1px 2px 0px gray;
    border-radius: 2px;
    
}
.img-item img{
    width: 100%;
    height: 230px;
}
.img-item-confg{
    border-radius: 10px;
    width: 290px;
    display: flex;
    margin: 10px auto;
}
.desc-item{
    color: rgba(0,0,0,0.8);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.rod-item{
    width: 100%;
    min-height: 30%;
}
.de{
    color: rgba(0,0,0,0.4);
    font-weight: 600;
    margin: 20px 20px 0px 20px; 
}
.por{
    color: rgba(0,0,0,0.8);
    font-weight: 600;
    margin: 10px 20px 0px 20px;
}
.traco{
    width: 90%;
    margin: 0 auto;
    color: rgba(0,0,0,0.8);
}
.botao-rmv{
    font-size: 12px;
    width: 200px;
    color: #FFF;
    display: flex;
    font-weight: bolder;
    margin: 30px auto;
    text-decoration: none;
    text-transform: capitalize;
    padding: .5em 1.5em;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    background: red;
    outline: none;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
}
.botao-adc{
    font-size: 12px;
    color: #FFF;
    display: flex;
    font-weight: bolder;
    margin: 30px auto;
    text-decoration: none;
    text-transform: capitalize;
    padding: .5em 1.5em;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    background: #00AA45;
    outline: none;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
}
@media(max-width: 800px){
    .item-sec{
        
        width: 100%;
    }

}

/*---------------Detalhamento dos produtos ------------------------*/
.img-item-detail img{
    width: 480px;
    height: 305px;
}
.desc-item-detail-titulo{
    font-size: 20pt;
    text-align: center;
}
.desc-item-detail{
    font-size: 16pt;
}
.rod-item-detail .de{
    font-size: 14pt;
    text-decoration: line-through;

}
.rod-item-detail .por{
    font-size: 18pt;
}
.botao-adc-detail{
    font-size: 14pt;
    color: #FFF;
    display: flex;
    font-weight: bolder;
    margin: 30px auto;
    text-decoration: none;
    text-transform: capitalize;
    padding: .5em 1.5em;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    background: #00AA45;
    outline: none;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
}

/* --------------------Inicio do da rodapé ---------------------- */
.rodape{
    width: 100%;
    height: 300px;
    margin-top: 50px;
    background-color: #FFF;
}
.rodape .copy p{

    font-size: 15pt;
}